<h1>Log In</h1>

<% if flash[:notice] %>
  <strong style='color:red;'><%= flash[:notice] %></strong>
<% end %>

<%= form_with url: '/login' do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Sign In!" %>
<% end %>
<br/><br/>
<%= link_to "Sign Up", signup_path %>